COLDFRONT_CONFIG=/etc/coldfront/coldfront_settings.py
BASE_PATH={{ cf_base_path | default('', true) | trim('/') }}
STATIC_ROOT=/static
PYTHONPATH=/etc/coldfront
SITE_TEMPLATES=/etc/coldfront/site-templates
{% if cf_ldap_server | default('', true) | length > 0 %}
PLUGIN_LDAP_USER_SEARCH=True
LDAP_USER_SEARCH_SERVER_URI={{ cf_ldap_server_uri }}
LDAP_USER_SEARCH_BASE={{ cf_ldap_search_base }}
{% endif %}

